body{
  background: #eee;
}

.sidebar{
  background: #fff;
}
ol, ul{
  list-style: none;
  text-align: left;
}

ol >  li{
  padding: 10px;
  cursor: pointer;
}
li > ul, li > ol {
  border-left: 1px solid #ddd;
}
.thumb{
  width: 15px;
}

input{
  height: 50px;
  margin: 20px 0;
  padding:10px;
  width:50%;
  position: relative;
}